<div class="row">
    <div class="col-auto">
        <div id="main" class="container">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore qui distinctio tenetur. Sit ipsum
                nemo aspernatur a deserunt aliquid dicta error molestias laboriosam mollitia doloribus perferendis, ut
                magnam voluptas dolore.
            </p>
        </div>
    </div>
</div>